
@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('../css/fonts/SGSDTSGothamPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.main-buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 кнопки в строке */
    column-gap: 10vw; /* Расстояние между кнопками */
    row-gap: 20vh;
    justify-items: center; /* Центровка кнопок по горизонтали */
    position: absolute;
    justify-content: center;

}

.main-buttons-container button {
    width: 10vw;
    min-width: 200px;
    height: 10vh;
    min-height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40%;
    font-weight: 700;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3%;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.main-buttons-container button:hover {
    background-color: #0056b3; /* Темнее при наведении */
    transform: scale(1.1); /* Увеличение кнопки */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Тень */
}

.main-buttons-container button:active {
    transform: scale(1.05); /* Лёгкое уменьшение при нажатии */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Слабее тень */
}

.invisible-button {
    position: absolute;
    top: 0; /* Расположение в левом верхнем углу */
    left: 0;
    width: 25%; /* Размер кнопки */
    height: 25%;
    background-color: transparent; /* Делает кнопку невидимой */
    /*border: none;*/
    cursor: pointer;
    z-index: 1001; /* Убедитесь, что кнопка находится поверх других элементов */
    border: 3px solid red;
}

.invisible-left-button {
    position: absolute;
    top: 0; /* Расположение в левом верхнем углу */
    left: 0;
    width: 25%; /* Размер кнопки */
    height: 100%;
    background-color: transparent; /* Делает кнопку невидимой */
    /*border: none;*/
    cursor: pointer;
    z-index: 1000; /* Убедитесь, что кнопка находится поверх других элементов */
    border: 3px solid red;
}

.invisible-right-button {
    position: absolute;
    top: 0; /* Расположение в левом верхнем углу */
    left: 75%;
    width: 25%; /* Размер кнопки */
    height: 100%;
    background-color: transparent; /* Делает кнопку невидимой */
    /*border: none;*/
    cursor: pointer;
    z-index: 1000; /* Убедитесь, что кнопка находится поверх других элементов */
    border: 3px solid red;
}

.section {
    display: flex;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box; /* Учитывает padding и border в размерах */
    overflow: hidden;
    position: relative;
    border: 3px solid red;
}


.visit-container {
    display: flex;
    flex-direction: column; /* Расположение кнопок в колонку */
    align-items: center; /* Центрирование кнопок по горизонтали */
    gap: 10px; /* Расстояние между кнопками */
    height: 100%; /* Занимает всю высоту родителя (.section) */
    width: 40%; /* Ширина контейнера */
    margin: 0; /* Убирает внешние отступы */
    padding: 2% 0 2% 33%;
    box-sizing: border-box; /* Учитывает border в размерах */
    position: absolute; /* Чтобы элемент оставался внутри .section */
    top: 50%;
    left: 50%; /* При необходимости можно менять позиции */
    padding-top: 10%;
    padding-bottom: 10%;
    transform: translate(-50%, -50%);
    z-index: 99999999;
}

.visit {
    width: auto; /* Ширина кнопки: 80% от ширины контейнера */
    /*max-width: 400px;*/
    max-height: 100%;
    height: 100%; /* Автоматическая высота для сохранения пропорций */
    aspect-ratio: 443 / 119; /* Соотношение сторон кнопки */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none; /* Убирает рамку */
    cursor: pointer;
    transition: transform 0.2s ease;
}

.visit:hover {
    transform: scale(1.05); /* Лёгкое увеличение кнопки при наведении */
}

.percent-container {
    display: flex;
    flex-direction: row; /* Расположение кнопок в колонку */
    justify-content: center;
    align-items: center; /* Центрирование кнопок по горизонтали */
    gap: 2.5%; /* Расстояние между кнопками */
    height: auto; /* Занимает всю высоту родителя (.section) */
    max-width: 100%;
    width: 60%; /* Ширина контейнера */
    margin: 0; /* Убирает внешние отступы */
    box-sizing: border-box; /* Учитывает border в размерах */
    position: absolute; /* Чтобы элемент оставался внутри .section */
    top: 69%;
    left: 31.5%; /* При необходимости можно менять позиции */
    transform: translate(-50%, -50%);
    z-index: 99999999;
    overflow: visible;
}

.percent {
    width: 17%; /* Ширина кнопки: 80% от ширины контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    aspect-ratio: 240 / 232; /* Соотношение сторон кнопки */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none; /* Убирает рамку */
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease;
}

.percent:hover {
    transform: scale(1.05); /* Лёгкое увеличение кнопки при наведении */
}

.percent.active {
    animation: scaleUp 2s forwards; /* Анимация увеличения */
}

/* Анимация для плавного увеличения */
@keyframes scaleUp {
    0% {
        transform: scale(1.05); /* Начальный размер */
    }
    100% {
        transform: scale(1.5); /* Увеличение до 120% */
    }
}


.background-container {
    position: relative;
    width: 80%; /* Пропорционально размеру секции */
    aspect-ratio: 16 / 9; /* Пропорции фонового изображения */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px solid red;
}

section.present {
    display: flex !important;
}

section.past {
    display: flex !important;
}

section.future {
    display: flex !important;
}

section {
    position: relative; /* Позволяет дочерним элементам позиционироваться относительно родителя */
    overflow: hidden;   /* Обрезает выходящие элементы, если нужно */
}

/* Кнопки */
.dynamic-button {
    transition: transform 0.3s;
    z-index: 119999;
}

.dynamic-button:hover {
    transform: scale(1.3); /* Увеличение кнопки при наведении */
}

.main-block {
    width: 90%;
    height: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    top: 37%;
    left: 17%;
    text-align: left;
}

.columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column-texts {
    display: flex;
    flex-direction: column;
    gap-row: 0;
    width: 95%;

}
.column-images {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 5%;
}


.column-texts p {
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 50%;
    line-height: 0;
    color: white;
    margin: 1.9%;
}

.column-images img {
    height: 7.1%;
    width: fit-content;
    margin: 0;
    background-color: transparent;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.visible {
    opacity: 1;
}

.pill {
    position: absolute;
    width: 30%;
    height: 40%;
    top: 10%;
    left: 70%;
    z-index: 51651515;
    cursor: pointer;
}

.bubble-text {
    position: absolute;
    width: 13%;
    height: 17%;
    top: 33%;
    left: 67%;
    z-index: 51651516;
    cursor: pointer;
    border-radius: 50%;
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 3px solid blue;
}

#image1 {
    position: absolute;
    width: 115%;
    height: auto;
    top: 6%;
    aspect-ratio: 1450 / 175;
    transition: opacity 0.5s ease;
}
#image1-new {
    position: absolute;
    width: 115%;
    height: auto;
    top: 7%;
    aspect-ratio: 1450 / 175;
    transition: opacity 0.5s ease;
}

#image2 {
    position: absolute;
    width: 20%;
    height: auto;
    top: 37%;
    left: 75%;
    transition: opacity 0.5s ease;
    aspect-ratio: 568 / 755;
}

#image2-new {
    position: absolute;
    width: 25%;
    height: auto;
    top: 47%;
    left: 73%;
    transition: opacity 0.5s ease;
    aspect-ratio: 983 / 498;
}

.bubble-text {
    position: absolute;
    width: 13%;
    height: 17%;
    top: 33%;
    left: 67%;
    z-index: 51651516;
    cursor: pointer;
    border-radius: 50%;
}


.m_1_button_ing {
    position: absolute;
    width: 35%;
    height: 40%;
    top: 50%;
    left: 5%;
    z-index: 51651515;
    cursor: pointer;
    border: 3px solid green;
}

.m_1_button_asp {
    position: absolute;
    width: 31%;
    height: 25%;
    top: 65%;
    left: 40%;
    z-index: 51651515;
    cursor: pointer;
    border: 3px solid green;
}

.m_1_button_izo {
    position: absolute;
    width: 23%;
    height: 25%;
    top: 65%;
    left: 71.5%;
    z-index: 51651515;
    cursor: pointer;
    border: 3px solid green;
}

.circle-buttons {
    height: 8%;
    transition: transform 0.2s ease;
    cursor: pointer;
    z-index: 99999999999999999;
}

#circle-btn-1 {
    position: absolute;
    top: 15%;
    left: 65%;
}

#circle-btn-2 {
    position: absolute;
    top: 29%;
    left: 70%;
}

#circle-btn-3 {
    position: absolute;
    top: 46%;
    left: 70%;
}

#circle-btn-4 {
    position: absolute;
    top: 60%;
    left: 65%;
}

#circle-btn-5 {
    height: 10%;
    position: absolute;
    top: 60%;
    left: -2%;
}

#circle-btn-6 {
    position: absolute;
    top: 46%;
    left: 2%;
}

#circle-btn-7 {
    position: absolute;
    top: 29%;
    left: 4%;
}

#circle-btn-8 {
    position: absolute;
    top: 15%;
    left: 7%;
}


.circle-buttons:hover {
    transform: scale(1.1);
}


.circle-buttons2 {
    height: 11%;
    transition: transform 0.2s ease;
    cursor: pointer;
    z-index: 99999999999999999;
}

#circle-btn-21 {
    position: absolute;
    top: 22%;
    left: 68%;
}

#circle-btn-22 {
    position: absolute;
    top: 41%;
    left: 73%;
}

#circle-btn-23 {
    position: absolute;
    top: 60%;
    left: 65%;
}

#circle-btn-24 {
    height: 15%;
    position: absolute;
    top: 67%;
    left: 42%;
}

#circle-btn-25 {
    position: absolute;
    top: 60%;
    left: 7%;
}

#circle-btn-26 {
    position: absolute;
    top: 41%;
    left: 0;
}

#circle-btn-27 {
    height: 11%;
    position: absolute;
    top: 22%;
    left: 1%;
}


.circle-buttons2:hover {
    transform: scale(1.1);
}